app/etc/local.xml
media/catalog/product/cache/*
media/*
media/tmp/*
errors/local.xml
var/*
downloader/*
.htaccess
!media/.htaccess
!var/.htaccess
.htpasswd
nbproject/*
.idea
.project
.DS_Store
htaccess
media/windsorcircle_export/updated.txt
media/
server.sh
!var/ait_patch/
!var/cls_assuranty/sku_assuranty.csv
app/code/local/Mage/Core/Model/Session/Abstract/Varien.php
.sc
sitemap.xml
